@media only screen and (min-width: 768px) {
    .app {
        padding: 10px;   
    }
}

.app__test-form {
    font-size: 12px;
    margin: 10px;
}

.app__test-form label{
    display: block;
}

.app__test-form input[type="date"]::-webkit-clear-button {
    display: none;
}

.app__test-form input[type="date"]::-ms-clear {
    display: none;
}